* {
  box-sizing: border-box;
}

ul {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 0;
}

li {
  list-style: none;
}

.journey__number{
  display:flex;
  justify-content: center;
  align-items: center;
}

.button--container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: solid black;
    border-radius: 0.5rem;
    gap: 1rem;
}

.header__testimonial--image {
    height: 2rem;
}



@media screen and (width <= 320px) {
  body {
    margin: 1rem;
  }

  .hero-image {
    border-radius: 1rem;
    max-width: 100%;
  }
  
   .journey__number {
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid black;
    border-radius: 0.5rem;
  }
}
